# Ignore Python bytecode
__pycache__/

# Ignore Jupyter Notebook checkpoints and output folders
.ipynb_checkpoints/
*_files/

# Ignore Conda and virtual environments
.env/
.venv/
env/
venv/

# Ignore VSCode settings folder
.vscode/

# Ignore all .lammps files
*.lammps

# Ignore all .lmp files except those in 01_input_files/examples/
*.lmp
!01_input_files/examples/*.lmp

# Ignore any folders ending with _dump or _input
*_dump/
*_input/

# Ignore restart and dump folders if present
dump_files/
restart_files/

# Ignore log and output files
*.log
*.log.lammps
*.out
*.dat
*.tmp
*.bak
*.swp
*~

# Ignore OS system files
.DS_Store
Thumbs.db
